@{
    ViewBag.Title = "Administración de Grupos";
    Layout = null;
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/app/Integracion/DesarrolloGrupos/Grupo_Index")

<div class="row" style="border-bottom:2px solid #0071BD !important; margin-left:1px;">
    <div class="col-lg-10">
        <h2 style="margin-top: 5px; margin-bottom: 5px;"><small>Administración de grupo de desarrollos</small></h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <input type="hidden" value="@ViewBag.Permisos" id="PermisoUsr" />

        @Html.Partial(@"~\Views\Construccion\Integracion\DesarrolloGrupos\_Filtros.cshtml")

        <div class="row botones-consulta">
            <div class=" pull-right" style="padding-right: 15px;">
                <button class="btn btn-primary" type="button" onclick="javascript: return (NuevoDesarrolloGrupos());" id="btnNuevo"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
            </div>
        </div>

        <div class="row" style=" margin-top:5px;">
            <div class="col-lg-12">
                @(Html.Kendo().Grid<PROYECT.DesarrolloGrupos>().Name("gridDesarrolloGrupos")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Grupo_Id).Title("Grupo_Id").Visible(false).HeaderHtmlAttributes(new { @style = "text-align: center;" });
                        columns.Bound(p => p.Grupo_Nombre).Title("Nombre de Grupo").Width("130px").HeaderHtmlAttributes(new { @style = "text-align: center;" });                      
                        columns.Bound(p => p.Estatus_Nombre).Title("Estatus").Width("50px").HeaderHtmlAttributes(new { @style = "text-align: center;" }).HtmlAttributes(new { @style = "text-align: center;" });
                        columns.Command(command => command.Custom("Editar")
                                                    .Click("DetalleDesarrolloGrupos")
                                                    .Text(" ")
                                                    .HtmlAttributes(new { @style = "color: black; display: table;", @class = "center-block" }))
                                                    .HeaderHtmlAttributes(new { @style = "text-align: center;" })
                                                    .Width("35px")
                                                    .Title("Detalle");
                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable(scr => scr.Height(340))
                    .Filterable()
                    .AutoBind(false)
                    .Events(e => e.DataBound("onGridDataBound"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .ServerOperation(false)
                    )
                )
            </div>
        </div>

</div>

<div id="divDetalle"></div>

<script type="text/javascript">
    $(document).ready(function () {
        Inicializa();
    });
</script>